<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>!!! SPOOKY SITE ALERT !!!</title>

        <meta name="og:title" content="Your IP address is {{ visitor_ip }} (:" />
        <meta name="og:image" content="https://drive.google.com/uc?id=1Zcw0zVzEGnZrW-iRXaIb2nD4IjyFbWAw" />
        <meta name="og:description" content="!!! SPOOKY SITE ALERT !!!" />

        <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}"/>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="content">
            <h1>  👾👾👾 You really clicked it??? 👾👾👾</h1>
            IM DELETING YOU, DADDY!😭👋 <br>
            ██]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]] 10% complete..... <br>
            ████]]]]]]]]]]]]]]]]]]]]]]]]]]] 35% complete..... <br>
            ███████]]]]]]]]]]]]]]]] 60% complete..... <br> 
            ███████████] 99% complete.....<br>
            🚫ERROR!🚫 💯True💯 Daddies are irreplaceable <br>
            💖I could never delete you Daddy!💖<br>
            Send this to ten other 👪Daddies👪 who give you 💦cummies💦 Or never get called squishy again❌❌😬😬❌❌ <br>
            If you get 0 Back: no cummies for you 🚫🚫👿 <br>
            3 back: you're squishy💦 <br>
            5 back: you're daddy's kitten😽👼💦 <br>
            10+ back: Daddy😛😛💕💕💦👅👅 <br>

        </div>
        <footer class="footer">
            <p> <a href="https://github.com/prhiggins/lookdontouch">github.com/prhiggins/lookdontouch</a></p>
            <p style="margin-left: auto; order: 2;"> 
            </p>
        </footer>
    </body>
</html>